//-
//- Prepared form for model: `user`, action: `register`
//- @revision undefined
//- @parser_version 0.0.2
//- @generated 2014-01-06T19:26:27.942Z
mixin form_register()
	-register= register || {}
	-register.errors =register.errors || {}
	-register.val =register.val || {}
	.field
		label(for='email') email
		input(type='email', name='email', id='email', value=register.val.email|| "")
	
		-if(Array.isArray(register.errors.email)) {
			div.error=register.errors.email.join('\n')
		-}
	.field
		label(for='password') password
		input(type='password', name='password', id='password', value=register.val.password|| "")
	
		-if(Array.isArray(register.errors.password)) {
			div.error=register.errors.password.join('\n')
		-}
	.field
		label(for='password2') password2
		input(type='password', name='password2', id='password2', value=register.val.password2|| "")
	
		-if(Array.isArray(register.errors.password2)) {
			div.error=register.errors.password2.join('\n')
		-}
	.field
		label(for='name[first]') name&lsqb;first&rsqb;
		input(type='text', name='name[first]', id='name[first]', value=register.val.name.first|| "")
	
		-if(Array.isArray(register.errors.name.first)) {
			div.error=register.errors.name.first.join('\n')
		-}
	.field
		label(for='name[middle]') name&lsqb;middle&rsqb;
		input(type='text', name='name[middle]', id='name[middle]', value=register.val.name.middle|| "")
	
		-if(Array.isArray(register.errors.name.middle)) {
			div.error=register.errors.name.middle.join('\n')
		-}
	.field
		label(for='name[last]') name&lsqb;last&rsqb;
		input(type='text', name='name[last]', id='name[last]', value=register.val.name.last|| "")
	
		-if(Array.isArray(register.errors.name.last)) {
			div.error=register.errors.name.last.join('\n')
		-}
	.field
		label(for='gender') gender
		select(name='gender', id='gender', type='text')
			option(value='m') m
			option(value='f') f
			option(value='u') u
	
		-if(Array.isArray(register.errors.gender)) {
			div.error=register.errors.gender.join('.\n')
		-}
	.field
		label(for='age') age
		input(type='number', name='age', id='age', value=register.val.age|| "")
	
		-if(Array.isArray(register.errors.age)) {
			div.error=register.errors.age.join('\n')
		-}
	.field
		label(for='bio') bio
		textarea(name='bio', id='bio')
	
		-if(register.val.bio&&register.val.bio.length) {
			=register.val.bio.toString()
		-}
		-if(Array.isArray(register.errors.bio)) {
			div.error=register.errors.bio.join('\n')
		-}
//-